<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos -->
    <link href ="/stylesheets/header.css", rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">

    <!-- bootstrap y css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    
    <title>Turismo Tech</title>
</head>
<body>
    <section class="container_header">
            <div class="container_navbar">
                <div class="titulo_logo">
                    <!-- LOGO -->
                    <div class="nav_logo">
                        <img src="images/LOGO_1.jpg">
                    </div>
                    <!-- TITULO PRINCIPAL MARCA -->
                    <!-- <div>
                        <h1 id="title_principal">TURISMO TECH</h1>
                    </div> -->
                </div>
                <div class="container_menu">
                    <ul class="list_menu">
                        <li>Home</li>
                        <li>Servicios</li>
                        <li>Nosotros</li>
                        <li>Contáctanos</li>
                    </ul>                    
                </div>
            </div>
    </section>


    <!-- BANNER PRINCIPAL HOME -->
    <section>
        <div class="container_banner_principal">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/images/banner_principal.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>First slide label</h5> -->
                    <p>Viaja por toda Colombia de manera única. ¡Bienvenido!</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/banner_2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Second slide label</h5> -->
                    <p>Encontrarás el mejor servicio para hacer tu viaje único.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/banner_3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    <!-- <h5>Third slide label</h5> -->
                    <p>Bienvenido a Turismo Tech</p>
                    </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    
    <!-- SERVICIOS -->
    <section class="container_servicios">
        <div>
            <h1>SERVICIOS:</h1>
        </div>
        <div class="container_tipos_servicios">
            <div class="transporte_vip" id="servicios">
                <div>
                    <h2>TRANSPORTE V.I.P</h2>
                    <p>Exclusivo servicio de transporte V.I.P en vehículos utilitarios de gama alta. Confort y exclusividad.</p>
                </div>
                <div class="imagenes_servicios">
                    <img src="images/servicios_1.jpg" alt="transporte vip">
                </div>
            </div>

            <div class="transporte_empresarial" id="servicios">
                <div class="imagenes_servicios">
                    <img src="/images/servicios_3.jpg" alt="transporte empresarial">
                </div>
                <div>
                    <h2>TRANSPORTE EMPRESARIAL</h2>
                    <p>Atendemos eventos, rutas empresariales,  seminarios congresos y excursiones.</p>
                </div>
            </div>

            <div class="transporte_excursiones" id="servicios">
                <div>
                    <h2>VIAJES, EXCURSIONES Y DÍAS DE SOL</h2>
                    <p>Disfrute de Antioquia y Colombia, increíbles paisajes y destinos.</p>
                </div>
                <div class="imagenes_servicios">
                    <img src="/images/servicios_2.jpg" alt="Viajes y excursiones">
                </div>
            </div>

            <div class="drones_video" id="servicios">
                <div class="imagenes_servicios">
                    <img src="images/servicios_4.jpg" alt="">
                </div>
                <div>
                    <h2>VIDEO CON DRONES DE SU EXPERIENCIA</h2>
                    <p>Tenga a su mano un equipo de drones a su disposición para capturar todo el material fotográfico y video.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- NOSOTROS -->
    <section class="container_nosotros">
        <div>
            <h1>NOSOTROS:</h1>
            <p>Somos un equipo de jóvenes emprendedores que quiere acompañar su viaje en busca de nuevas aventuras y que tenemos certificación profesional en transporte terrestre de pasajeros y generación de contenido con drones.</p>
        </div>
    </section>

    <!-- CONTÁCTENOS -->
    <section class="container_contacto">
        <div>
            <h1>FORMULARIO DE CONTACTO:</h1>
        </div>
    </section>

    <!-- FOOTER -->
    <section>
        <div class="container_footer">
            <ul>
                <li>Contáctanos</li>
                <li>Conócenos</li>
                <li>Términos y condiciones</li>
                <li>Promociones vigentes</li>
                <li>Redes sociales</li>
            </ul>
        </div>
    </section>

    <!-- Script de bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>